@mixin poppins-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@mixin create-border($border-color, $border-radius, $border-size) {
    border: $border-size solid $border-color;
    border-radius: $border-radius;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$hovercolor: rgb(51, 11, 103);
$backgroundcolor: rgb(7, 16, 28);
$gridcolor: rgb(94, 36, 196);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include poppins-font();
}

body {
    background-color: $backgroundcolor;
}

li, a, button {
    @include poppins-font();

    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.home {
    padding-top: 25px;
}

.home a {
    @include poppins-font();
    transition: all 0.4s ease 0s;

    font-size: 3rem;
    cursor: pointer;
    color: rgb(255, 255, 255);

    &:hover {
        color: $hovercolor;
    }
}

p {
   font-size: 24px;
   text-align: center; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;

    height: 3rem;
    width: 100%;
}

.navlinks li {
    display: inline-flex;
    padding: 0px 30px;
    margin-top: 2rem;
}

.navlinks li a, .home {
    transition: all 0.3s ease 0s;

    &:hover {
        color: $hovercolor;
    }
}

.container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin: 100px auto;

    height: 800px;
    width: 80%;
    background-color: $backgroundcolor;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 2;
    @include create-border(red, 25px, none)
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    @include create-border(red, 25px, none)
}

.row {
    display: flex;
    flex: 1;
    transition: 200ms ease-in-out;
    // opacity: 0.5;
    
    &:hover {
        flex: 3;
    }

    

    @include create-border(red, 25px, none)
}

.l-top-row, .l-middle-row, .r-top-row, .r-bottom-row {
    text-align: center;
    position: relative;

    background-color: $gridcolor;
    justify-content: center;

    &:hover p {
        opacity: 1;
        color: white;
    }

}

.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    transition: 300ms ease;

    font-size: 50px;
    color: white;

    @include create-border(yellow, 25px, none)   
}

p {
    display: flex;
    width: 90%;
    text-align: justify;
    font-size: 1.2rem;
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 200ms ease-in-out;
}

.power-supply {
    font-size: 45px;
}

.motherboard {
    font-size: 45px;
}

.l-row-col {
    display: flex;
    position: relative;
    background-color: $gridcolor;

    transition: 200ms ease;
    &:hover {
        flex: 3;
    }
    
}

.l-bottom-row {
    display: flex;
    
    border: none;
    gap: 10px;
    
}

.l-row-col {
    flex: 1;
    align-items: center;
    justify-content: center;
    &:hover p {
        opacity: 1;
        color: white;
    }

    @include create-border(red, 25px, none)
}
